.grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 1rem;
    
}

.item {
    height: 70px;
    border-radius: 20px;
}

.red {
    background-color: red;
    grid-column: 1 / 3;
}

.blue {
    background-color: blue;
    grid-column: 3 / 5;
}

.olive {
    background-color: olive;
    grid-column: 1 / 2;
}

.purple {
    background-color: purple;
    grid-column: 2 / 5;
}

.yellow {
    background-color: yellow;
    grid-column: 1 / span 4;
}